{% include './shared/header.html' without context %}
<body>
  {% include './shared/navbar.html' without context %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success mt-3" role="alert">
          <h1 class="text-center">Set up your schedule here</h1>
        </div>
        <div>
          <form action="/users/{{ user_id }}/items/" method="post">
            <div class="mb-1">
              <label for="subject" class="form-label">Subject</label>
              <input
                type="text"
                class="form-control"
                id="subject"
                name="subject"
                required
              />
              <div class="mb-1">
                <label for="task" class="form-label">Task</label>
                <input
                  type="text"
                  class="form-control"
                  id="task"
                  name="task"
                  required
                />
            </div>
            <div class="mb-1">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="2"
                
              ></textarea>
            </div>
            <div class="mb-1">
              <label for="dueDate" class="form-label">Date</label>
              <input
                type="date"
                class="form-control"
                id="dueDate"
                name="dueDate"
                required
              />
            </div>
            <div class="mb-1">
              <label for="dueTime" class="form-label">Time</label>
              <input
                type="time"
                class="form-control"
                id="dueTime"
                name="dueTime"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include './shared/footer.html' without context %}
</body>
